:root{
    --cor-principal: #e21;
    --cor-principal-escura: #900;
    --fundo-1: #f7f7f7;
    --fundo-2: #ffffff;
    --texto: #000000;
    --sona-guide: rgba(0, 0, 0, 0.2);
    --onda: url(img/onda.svg);

}

@media (prefers-color-scheme: dark){
    :root{
        --fundo-1: #111111;
        --fundo-2: #000000;
        --texto: #ffffff;
        --sona-guide: rgba(255, 255, 255, 0.2);
        --onda: url(img/onda-escura.svg)
    }
}

body{
    margin: 0rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--texto);
    background: var(--fundo-1);
    display: grid;
    gap: 3.75rem;
    justify-items: center;
    margin-top: 3.75rem;
}

.titulo{ /* fiz o h4 virar um h1 pra nao ter erro dps */
    font-size: 2rem;
    margin-block-start: 0.67rem;
    margin-block-end: 0.67rem;
    margin-inline-start: 0rem;
    margin-inline-end: 0rem;
    font-weight: bold;
}

img{
    max-width: 100%;
    display: block;
}

a{
    text-decoration: none;
}

p,
h1, 
h2, 
h3{
    margin: 0rem;
}

p{
    font-size: 1,25rem;
    line-height: 2rem;
}

.links{ 
    display: flex; /* padrão = inline block // flex = independente? */
    gap: 1.25rem;
    flex-wrap: wrap; /* pra ele quebrar o conteudo e nao criar barra vertical */
    justify-content: center; /* pra ele ficar ao centro msm qnd quebrar o item // ler depois */
}

.links a{ /* Falando com os Botoes dentro de link */
    background: var(--fundo-2);
    padding: 0.93rem 1.8rem; /* 15 PX pra cima e pra baixo // 30px pra 1 lado e pro outro */
    border-radius: 0.25rem;
    text-transform: uppercase;
    color: var(--texto);
    font-weight: bold;
    border: 2px solid transparent;
}

.conteudo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 87rem; /* tamanho maximo pra grid não ocupar 100% da tela */
}

.introducao{
    text-align: right;
    background: var(--fundo-2);
    padding: 2.5rem;
}

.botao {
    background: var(--cor-principal);
    color: #ffffff;
    border-radius: 0.25rem;
    padding: 0.93rem 1.8rem;
    display: inline-block;
}

.introducao::before{ 
    content: "";
    width: 3.1rem;
    height: 4px;
    background:  var(--cor-principal);
    display: inline-block; /* é uma linha+um bloco pra nao se misturar com outros blocos */
    position: relative; 
    right: -70px;
    top: -30px;
}

.fundo{
    text-transform: uppercase;
    font-size: 4rem;
    text-align: center;
    align-self: center;
    background-image: var(--onda);
    background-position: 2rem;
    color: var(--sona-guide);
}

.rodape{
    background: var(--fundo-2);
    width: 100%;
    text-align: center;
    padding: 40px;
    box-sizing: border-box; /* o width é somado com o padding e esse comando faz com que ele nao seja somado pq se n ficaria 100% + 40px */
    font-weight: bold;
    font-size: 20px;
}

.links a:hover{
    border: solid var(--cor-principal) 0.125rem;
}

.introducao a:hover{
    background: var(--cor-principal-escura);
    transition: 0.3s;
}

.vantagens{
    background-color: var(--fundo-2);
    padding: 2.5rem;
}

.vantagens-item{
    display: grid;
    grid-template-columns: 2.5rem 1fr;
    gap: 0.625rem 1.25rem;
    padding: 1.25rem;
    border: 4px transparent solid;
}

.vantagens-item p{
    grid-column: 2;
}

ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.header{
    display: grid;
    justify-items: center;
    gap: 3.75rem;
}

li.vantagens-item:hover{
    border-left: solid var(--cor-principal) 4px;
}

li.vantagens-item:nth-child(odd){
    background-color: var(--fundo-1);
}